# Application
NODE_ENV=development
PORT=8080

# Database
DB_USER=asksuite
DB_PASSWORD=asksuite123
DB_NAME=asksuite_db
DB_PORT=5432

# Redis
REDIS_PORT=6379
REDIS_TTL=3600

# PgAdmin (opcional - development only)
PGADMIN_EMAIL=admin@asksuite.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
